<div>
    Column Name:
    <input type="text" maxlength="15">
    <br/>
    <br/> Column Type:
    <input list="type">
    <datalist id="type">
        <option value="Numbers">
            <option value="String">
                <option value="Date">
                    <option value="Boolean">
    </datalist>
    <br/>
    <br/> Editable:
    <select>
        <option value="blank"></option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br/>
    <br/>
    <button onClick="Add()">Add Column</button>
    <button onClick="Close()">Close Without Adding</button>
</div>
