<!DOCTYPE html>
<html>

<head>
    <title>Data Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, max-scale=2">
    <link rel="stylesheet" type="text/css" href="test.css">
     
</head>

<body>
    <h3>Column Master</h3>
    <button onclick="fnAddCol()">Add Column</button>
    <button onClick="fnDeleteCol()">Remove Column</button>
    <br/>
    <table id="my-table1" border="1">
        <tr>
            <td>&nbsp;</td>
            <td>Column Name</td>
            <td>Column Type</td>
            <td>Editable</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>column1</td>
            <td>Number</td>
            <td>Yes</td>
        </tr>
    </table>
    <div id="AddCols"></div>
    <h3>Result Data Grid</h3>
    <button onClick="fnAddRow()">Add Row</button>
    <button onClick="fnDeleteRow()">Delete Row</button>
    <button >Export to JSON</button>
    <br/>
    <table id="my-table2" border="1">
        <tr>
            <td>&nbsp;</td>
            <td>Column1</td>
            <td>Column2</td>
            <td>Column3</td>
            <td>Column4</td>           
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
            </table>   
     <script type="text/javascript"  src="Main.js"></script>    
</body>

</html>
